<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="idangerous" translate="label" sortOrder="999">
            <label>IDangerous</label>
        </tab>
        <section id="phone_otp" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Phone OTP Verification</label>
            <tab>idangerous</tab>
            <resource>IDangerous_PhoneOtpVerification::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_registration" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable During Registration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="optional_registration" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Optional During Registration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable_registration">1</field>
                    </depends>
                    <comment>If set to Yes, users can skip phone verification during registration</comment>
                </field>
                <field id="otp_message" translate="label" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom OTP Message</label>
                    <comment>Use {otp} as placeholder for the OTP code. Example: Your verification code is: {otp}</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="address" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Address Phone Verification</label>
                <field id="enable_address_phone_verification" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Require Phone Verification for New Addresses</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment translate="true">If enabled, users must verify phone number when adding a new address (both in account and checkout)</comment>
                </field>
                <field id="require_unverified_address_verification" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Require Verification for Unverified Existing Addresses</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="enable_address_phone_verification">1</field>
                    </depends>
                    <comment translate="true">If enabled, users must verify phone number for existing addresses that haven't been verified yet (e.g., addresses added before this feature was enabled)</comment>
                </field>
                <field id="address_otp_modal_note" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Address OTP Modal Note</label>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="enable_address_phone_verification">1</field>
                    </depends>
                    <comment translate="true">Optional. This text is shown in the address/checkout OTP modal to explain why verification is required.</comment>
                </field>
            </group>
            <group id="app_version" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Headless App Version Gate</label>
                <comment><![CDATA[Minimum app version. If set and app version is missing/low, OTP is NOT enforced (user can proceed). Empty = enforce OTP for all.]]></comment>
                <field id="min_version_address_checkout" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Min Version (Address &amp; Checkout OTP)</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment><![CDATA[e.g. 4.0.18 or 4.0.18+86 (build). If set and app version &lt; this, OTP is skipped. Empty = enforce for all.]]></comment>
                </field>
                <field id="min_version_registration_account" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Min Version (Registration &amp; Account OTP)</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment><![CDATA[e.g. 4.0.18 or 4.0.18+86 (build). If set and app version &lt; this, OTP is skipped. Empty = enforce for all.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>